*{
    margin: 0;
    padding:0;
    border:0;
}

nav {
    border-bottom:2px solid #ccc!important;
}

footer {
    border-top:4px solid #ccc !important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0,0,0,.1);
}

.pt-2, .py-2 {
    padding-top: 1rem!important;
}

.ml-5, .mx-5 {
    margin-left: 6rem!important;
}

.navbar-brand {
    margin-left: 5%;
    width: 50px !important;
}

.navbar-toggler {
    display:none;
}

@media (min-width: 320px) and (max-width: 639px) { 
    .container,.container-sm{
        max-width:100%!important;
    }
    
    .col-md-12 {
        padding-right:0;
        margin-right: 0;
        width:100%;
    }

    .navbar-expand-lg {
        -ms-flex-pack: start;
        justify-content: flex-start;
        height:75px;
    }

    .navbar-brand{
        margin-left:0;
        width:100% !important;
    }
    .collapse {
        margin-right:0!important;
        padding-left:0!important;
        text-align:center;
    }


    ul.navbar-nav {
        display:inline!important;
    }

    .nav-link{
        display:inline;
    }
    .nav-item{
        display:inline;
    }
    .px-5 {
        padding-left: 0!important ;
        padding-right: 0!important;
        width:100%;
    }
    .ml-5, .mx-5 {
        margin-left:0 !important;
    }
    
    .navbar-collapse {
        display:block!important;

    }

    .border{
        width:95%;
    }
    
    .pr-5, .pl-5 { 
        padding-left:0;
        padding-right:0;
    }
    img#about{
        display:none!important;
        max-width:90%;
    }

    img#about-large{
        display:block!important;
        margin-bottom:15px;
        width:100%;
    }

    
    #sticky-footer{
        width: 100%;
    }
    
}

@media (min-width: 640px) and (max-width: 767px) { 
    .container,.container-sm{
        max-width:100%!important;
    }
    
    .col-md-12 {
        padding-right:0;
        margin-right: 0;
        width:100%;
    }

    .navbar-expand-lg {
        -ms-flex-pack: start;
        justify-content: flex-start;
        height:75px;
    }

    .navbar-brand{
        margin-left:0;
        width:100% !important;
    }
    .collapse {
        margin-right:0!important;
        padding-left:0!important;
        text-align:center;
    }


    ul.navbar-nav {
        display:inline!important;
    }

    .nav-link{
        display:inline;
    }
    .nav-item{
        display:inline;
    }
    .px-5 {
        padding-left: 0!important ;
        padding-right: 0!important;
        width:100%;
    }
    .ml-5, .mx-5 {
        margin-left:4% !important;
    }
    
    .navbar-collapse {
        display:block!important;

    }

    .border{
        width:90%;
    }
    
    .pr-5, .pl-5 { 
        padding-left:0;
        padding-right:0;
    }

    img#about{
        display:none!important;
    }

    img#about-large{
        display:block!important;
        margin-bottom:15px;
        width:100%;
    }

    #sticky-footer{
        width: 100%;
    }
}
 
@media (min-width: 768px) and  (max-width: 979px) { 
    .col-md-12 {
        padding-left:0;
        margin-left:0;
        width:100%;
    }
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 30%;
        min-width: 30%;
    }
    .nav-link {
        padding:0!important;
    }
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
        height:75px;

    }
    
    ul.navbar-nav {
        display:inline!important;
    }
    
    .nav-link, .nav-item {display:inline!important;}
    
    .navbar-brand{
        margin-left:8%;
        width:50px !important;
    }
    .collapse {
        padding-right:20%!important;
        display:inline-block!important;
        text-align: right;

    }

    .border{
        margin-left:6rem !important;
    }

    img#about-large{
        display:none!important;
    }

    #sticky-footer {
        width:100%;
        bottom:0;
    }
    
}
 
@media (min-width: 980px)  and  (max-width: 2100px) { 
    .col-md-12 {
        padding-left:0;
        margin-left:0;
        width:100%;
    }
    
    .nav-link {
        padding:0!important;
    }
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
        height:75px;
    }
    
    ul.navbar-nav {
        display:inline!important;
    }
    
    .nav-link, .nav-item {display:inline!important;}
    
    .navbar-brand{
        margin-left:8%;
        width:50px !important;
    }
    .collapse {
        padding-right:6%!important;
        display:inline-block!important;
        text-align: right;

    }

    .border{
        margin-left:11% !important;
    }
    
    img#about-large{
        display:none!important;
    }

    #sticky-footer {
        width:100%;
        bottom:0;
    }
    
}